body {
  background-image: -webkit-linear-gradient(#000010 0, #000010 50%, #000010 100%);
  background-image: linear-gradient(to   , #000010 50%, #000010 100%); }

@font-face {
  font-family: "DiavloBlack";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/diavloBlack.eot?#iefix") format("embedded-opentype"), url("fonts/diavloBlack.woff2") format("woff2"), url("fonts/diavloBlack.woff") format("woff"), url("fonts/diavloBlack.ttf") format("truetype"), url("fonts/diavloBlack.svg#DiavloBlack") format("svg"); }
@font-face {
  font-family: "DiavloLight";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/diavloLight.eot?#iefix") format("embedded-opentype"), url("fonts/diavloLight.woff2") format("woff2"), url("fonts/diavloLight.woff") format("woff"), url("fonts/diavloLight.ttf") format("truetype"), url("fonts/diavloLight.svg#DiavloLight") format("svg"); }
h1, h2, h3 {
  color: white;
  line-height: 1.45;
  text-shadow: 0px 0px 20px #000;
  margin-top: 10vh; }

h1, h2 {
  font-family: "DiavloBlack", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

h3 {
  font-family: "DiavloLight", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

.zone1, #egypt * .glyph-items {
  position: relative;
  z-index: 1; }

.zone2 {
  position: relative;
  z-index: 2; }

.zone3 {
  position: relative;
  z-index: 3; }

.zone4, #dawn * #dawn-campfire {
  position: relative;
  z-index: 4; }

.disappear {
  opacity: 0; }

section {
  background-size: 100%;
  padding: 20px;
  background-size: cover;
  background-position: bottom; }

#intro {
  background-image: url("../img/bg/introBack.png");
  background-image: url("../img/bg/introBack.png");
  background-color: #438c8c;
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat; }
  #intro * #quill {
    width: 100%;
    max-width: 200px; }

#dawn {
  padding: 0;
  background-image: url("../img/bg/dawnBack.png"), -webkit-linear-gradient(#112525 0, #1a3636 100%);
  background-image: url("../img/bg/dawnBack.png"), linear-gradient(to   , #1a3636 100%); }
  #dawn * #dawn-campfire {
    max-width: 400px; }
  #dawn #dawn-ground {
    width: 100%;
    margin-top: -23%; }

#tribes {
  background-color: #112525; }
  #tribes * .tribesPeople {
    margin-top: 75px; }

#egypt {
  background-color: black; }
  #egypt * #pharoah {
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5; }
  #egypt * .glyph-items {
    fill: #dd851d;
    -webkit-animation-name: glow;
    -moz-animation-name: glow;
    animation-name: glow;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
@-webkit-keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
@-moz-keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
@keyframes glow {
  from {
    fill: #dd851d; }
  to {
    fill: #e8a24f; } }
#moses {
  padding: 0;
  background-image: url("../img/bg/dawnBack.png"), -webkit-linear-gradient(#112525 0, #1a3636 100%);
  background-image: url("../img/bg/dawnBack.png"), linear-gradient(to   , #1a3636 100%); }
  #moses * #mosesMoses {
    margin-left: -100px;
    width: 100%;
    max-width: 1000px; }
  #moses #moses-ground {
    width: 100%;
    margin-top: -23%; }

#today {
  background-image: url("../img/bg/todayBack.png");
  background-image: url("../img/bg/todayBack.png");
  background-color: #dd4e1d;
  padding: 40vh 0; }

#newscaster * #newscastMan {
  margin-top: 10px;
  margin-bottom: -180px;
  z-index: 5; }

#ceos {
  background-color: #112525; }
  #ceos * .row {
    margin-bottom: 0; }
    #ceos * .row .col-xs-4 {
      width: 51%;
      padding: 0px;
      margin: 0% -10%; }
  #ceos * .ceos {
    width: 100%;
    margin-bottom: -20px; }
  #ceos * .logos {
    width: 100%;
    max-width: 80px;
    opacity: 0.5; }

#you {
  background-image: url("../img/bg/o3Back.jpg");
  background-image: url("../img/bg/o3Back.jpg"); }

#end {
  background-color: #112525;
  background-repeat: repeat;
  background-size: 400px; }

/*# sourceMappingURL=style.css.map */
