//Import Bourbon
@import "bourbon/bourbon"


//	### SASS Variables ### 

// Global
// Fonts 
// Colors
$blue-base: #438c8c 
$yellow-base: #dd851d
// Sizes 

.zone1
	position: relative
	z-index: 1
.zone2
	position: relative
	z-index: 2
.zone3
	position: relative
	z-index: 3
.zone4
	position: relative
	z-index: 4


body
	@include background-image(linear-gradient(#000010 0, #000010 50%, #000010  100%))


h1,h2,h3
	color: white
	line-height: 1.45
	text-shadow: 0px 0px 20px #000
	@include margin (10vh null null null)
.container
	// height: 1vh


.disappear
	opacity: 0 
.copy
	// background-color: rgba(0, 0, 0, 0.8)

.intro-wrapper
	top: 0	
section
	&:nth-of-type(even)
		background-color: #ccc
	&:nth-of-type(odd)
		background-color: #222
	background-size: 100%
	@include padding (20px)
	min-height: 100vh
	background-size: cover
	background-position: bottom


#intro
	@include background-image(url("../img/back.png"))
	background-size: 100%
	background-repeat: no-repeat

#dawn
	@include background-image(url("../img/bg/dawnBack.png"), linear-gradient( darken($blue-base, 30%) 0, darken($blue-base, 25%) 100%))		
	* #dawn-campfire
		max-width: 400px

#tribes
	background-color: darken($blue-base, 30%)
	* .tribesPeople
		@include margin (75px null null null)

#egypt
	background-color: darken($blue-base, 80%)
	* #pharoah
		@include margin (300px null null null)
		z-index: 5

	* .glyph-items
		@extend .zone1
		fill: #dd851d
		@include animation-name(glow)
		@include animation-duration(2s)
		@include animation-direction(alternate)
		@include animation-timing-function(ease)
		@include animation-iteration-count(infinite)
		@include keyframes(glow) 
			from 
				fill: $yellow-base
			to 
				fill: lighten($yellow-base, 10%)
	#glyphSVG
		@include margin (null null -400px null)






		 		
#moses
#today
#newscaster
#ceos
#you
#end
#cta 